<div class="container-fluid">
  <h2>Qwerty</h2>

  <% if ruote['workitem'] && ruote['workitem']['fields'] %>
    <%= erb :'partials/_line', :locals => { :ruote => ruote } %>
  <% end %>

  <div class="">
    <p>YAML format </p>
    <pre><%= ruote.to_yaml %></pre>
  </div>
  <div class="main">
    <footer>
      <p>
      <a href="https://github.com/mozaix/qwerty">Qwerty<a/>, a bot written in Ruby</a>.
      </p>
    </footer>
  </div>
</div>
