<div class="wrapper">
  <h1>Qwerty</h1>
  <div class="main">
  <footer>
    <small>
    <a href="https://github.com/mozaix/qwerty">Qwerty<a/>, a bot written in Ruby</a>.
    </small>
  </footer>
</div>
