# lib/qwerty/<%= "#{name.downcase}.rb" %>
module Qwerty
  class <%= name.capitalize %> < Ruote::Participant
    def on_workitem
      workitem.fields['<%= name.downcase %>'] = {
        :key => 'value'
      }
      reply # Work done, let flow resume
    end
  end
end